.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em ;
}

.login-container {
  width: 400px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.login-container h2 {
  color: #34bdfc;
}

.image {
  width: 10em;
}

.login-container form input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding: .3em .5em;
  font-size: 14pt;
}

.login-container .btn-login {
  padding: .4em 6.7em;
  background-color: #2d9bf5;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12pt;
  border: none;
}

.login-container .btn-login:hover {
  background-color: #004d80;
}

.login-container .btn-login:active {
  background-color: #004966;
}

.password-wrapper {
  position: relative;
  display: flex;
  gap: 3px;
  align-items: center;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; 
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.password-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 38px;
  border: 1px solid #757474;
  border-radius: 3px;
  background-color: #fff;
  color: #555;
  font-size: 20px;

}

.area-gestor {
  display: flex;
  width: 400px;
  margin-top: 1.5em;
  justify-content: flex-end;

  font-weight: bold;
  font-size: 14pt;
  text-decoration: none;
  color: #2d9bf5;
}

.area-gestor:hover {
    color: #004d80;
}

.area-gestor:active {
  color: #004966;
  text-decoration: underline;
}