.cria-visita-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cria-visita-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8em;
  flex-wrap: wrap;
}

.cria-visita-container form input {
  display: block;
  width: 18em;
  height: 1.5em;
  outline: none;
  cursor: pointer;
}

.cria-visita-container form button {
  background-color: #02b111;
  border: none;
  padding: 4px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.cria-visita-container form button:hover {
  background-color: rgb(89, 177, 31);
}

.cria-visita-container form button:active {
  background-color: rgb(58, 141, 3);
}

.form-group textarea{
  display: block;
  height: 6em;
  width: 18.5em;
  resize: none;
  outline: none;
  cursor: pointer;
}

.visita-title, .visita-name {
  margin: 0;
}

.form-time {
  display: flex;
  justify-content: space-between;
}