.cadastro-funcionario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin-bottom: 20px;
}

.cadastro-funcionario h2 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.input {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 5px;
}


.checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 15px 0;
  
}

.checkbox-group {
  display: flex;
  align-items: left;
  gap: 8px;
  padding: 8px 0;
  border-radius: 4px;
  border: none;
  
}

.checkbox-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

.checkbox-group input[type="checkbox"] {
  width: 1.5em;
  margin: 0;
  cursor: pointer;
}

.cad-container select {
  padding: 3px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.role-select {
  display: flex;
  align-items: center;
  gap: 10px;
}

.role-select label {
  font-weight: 600;
}

.role-select select {
  flex-grow: 1;
}


.cadastrar-button button {
  width: 0px;
  display: flex;
  justify-content: center;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.cadastrar-button button:active {
  background-color: #0636b9;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

/* Responsividade */
@media (max-width: 500px) {
  .cadastro-funcionario {
    max-width: 100%;
    padding: 15px;
  }

  .cadastrar-button {
    font-size: 0.9rem;
    padding: 10px;
  }
}
